body {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif" ;
	color: #DEDEDE;
	font-size: 50px;
	line-height: 28px;
	letter-spacing: 2px;
	margin: 0;
	padding: 0px;
	background: #E9AB7E;
}



.wrapper {
	min-width: 1000px;
	max-width: 1000px;
	margin: 0 auto;
}

.button-wrapper {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.button {
	width: 1000px;
    height: 1000px;
    background: url(../img/heart.png) no-repeat;
    border-radius: 100%;
    font-size: 20px;
    transition: all 1000ms ease;
}

.button:hover {
	background-position: -1000px 0;
}

.box{
	width: 1000px;
	position: absolute;
	margin:-1000px 500px 550px 200px 
}
