* { vertical-align: top; }

body{ font-family: "bree-serif";
font-size: 35px;
background: #E05E5E;
color: #fff;
letter-spacing: 5px;
background-image:url(../img/note.png);
background-size: 1900px 1200px;
background-repeat: no-repeat;
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	justify-content: center;
	
}


a{
	color: antiquewhite;
	font-size: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-300%);
	justify-content: center;
	width: 500px;
}
